# Use docker to containerize frameworks
services: docker

# This tool is written in crystal
language: crystal

# One build per framework
env:
  matrix:
    {{#frameworks}}
      - FRAMEWORK={{.}}
    {{/frameworks}}

script:
  - bash .ci/ci_test.sh

notifications:
  email: false
